.body {
/*X    color: white;*/
}
.code {
    /*color:#cccccc;*/
    /*color: #D16587;*/
    color: #806D7E;
    /*background:black;*/
    /*background-color: #efefef;*/
}
.term {
    color:#191970;
    /*color: #D16587;*/
    /*background:black;*/
}
A {color: blue; text-decoration: none; } 
A:link {color: blue;}
A:visited {color: blue;}
A:hover {color: red; text-decoration: underline;} 
A:active {color: blue;} 
/*A:VISITED {color :#7E2217;}*//*red*/
/*A:VISITED {color :#C11B17;} *//*firebrick*/


